@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap);

.title {
    display: flex;
    background-color: #117FF2;
    height: 77px;
    padding-left: 120px;
    color: #F8F8F8;
    font-family: Nunito Sans;
    font-size: 48px;
    align-items: center;
}
