@import url(https://fonts.googleapis.com/css2?family=Archivo&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 390px;
}

.container {
  display: flex;
  height: 275px;
  column-gap: 55px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100%;
  justify-content: space-around;
  color: #202020;
}

.title {
  font-family: Archivo;
  font-size: 36px;
}

.description {
  font-family: Roboto;
  font-size: 18px;
  line-height: 29px;
  text-align: justify;
}

.partners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17.5px;
}
