@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

.gridContainer{
    width: 1236px;
    height: 740px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.gridHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1204px;
}

.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 30px;
}

.text{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 20px;
    align-self: center;
    padding: 0rem 1rem 0rem 2rem;
}
