.container {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-evenly;
}

.button {
    display: flex;
    color: white;
    width: 25%;
    height: 100%;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    background-color: #214683;
    transition: transform .2s; 
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.2); 
}

@media (max-width: 600px){
    .container {
        flex-direction: column;
        height: 40vh;
        align-items: center;
    }
    
    .button {
        width: 70%;
        height: 20%;
    }
}
