.slide {
  width: 1366px;
  border-radius: 8px;
  color: #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

.title {
  font-size: 52px;
  margin: 0 0 18px 0;
  line-height: 50px;
}

.slide__content {
  font-size: 18px;
  line-height: 28px;
  display: '-webkit-box';
  -webkit-line-clamp: 5;
  -webkit-box-orient: 'vertical';
  overflow: 'hidden';
  line-break: 'anywhere';
  white-space: "normal"
}

@media (min-width: 901px) {
  .slide__content {
    width: 600px;
  }
}


@media (max-width: 900px) {
  .slide {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.eventImage {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: 45%;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  color: blue;
  font-weight: 700;
  outline: 0;
  transition: background-color .2s ease, color .2s ease;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px;
}